.form {
  width: 385px;
}

.form__fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

.form__label {
  margin-bottom: 32px;
  padding: 0;
  display: block;
  color: #000;
  font-family: "Inter", Arial, sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.form__input {
  border: 1px solid #838383;
  margin-top: 8px;
  width: 385px;
  color: #000;
  box-sizing: border-box;
  padding: 15px 20px;
  display: block;
  border-radius: 4px;
  font-family: "Inter", Arial, sans-serif;
  font-size: 20px;
  line-height: 30px;
}

.form__input::-webkit-input-placeholder {
  color: #838383;
  font-family: "Inter", Arial, sans-serif;
  font-size: 20px;
  line-height: 30px;
}

.form__input::-ms-input-placeholder {
  color: #838383;
  font-family: "Inter", Arial, sans-serif;
  font-size: 20px;
  line-height: 30px;
}

.form__input::-moz-input-placeholder {
  color: #838383;
  font-family: "Inter", Arial, sans-serif;
  font-size: 20px;
  line-height: 30px;
}

.form__input::placeholder {
  color: #838383;
  font-family: "Inter", Arial, sans-serif;
  font-size: 20px;
  line-height: 30px;
}

.form__input[type="datetime-local"] {
  color: #838383;
  font-family: "Inter", Arial, sans-serif;
  font-size: 20px;
  line-height: 30px;
}

.form__button {
  color: #fff;
  width: 100%;
  padding: 20px 0;
  border-radius: 4px;
  margin: 0 0 32px 0;
  background-color: #1878dc;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  transition: background-color 1s;
}

.form__button:hover {
  background-color: #3f96f3;
}

.form__checkbox {
  border-radius: 2px;
  vertical-align: middle;
  width: 20px;
  height: 20px;
  margin-right: 12px;
  vertical-align: middle;
  accent-color: #1878dc;
  background-image: url(../images/check.svg);
}

.form__label_type_checkbox {
  width: 100%;
  text-align: center;
  margin: 0 0 120px 0;
}
