@import url(../vendor/normalize.css);
@import url(../blocks/page.css);
@import url(../blocks/content.css);
@import url(../blocks/header.css);
@import url(../blocks/navbar.css);
@import url(../blocks/recipes.css);
@import url(../blocks/reservation.css);
@import url(../blocks/form.css);
@import url(../blocks/menu.css);
@import url(../blocks/card.css);
@import url(../blocks/about.css);
/* Styling for Inter font */
.inter-classic {
  font-family: "Inter", sans-serif;
  font-weight: 400; /* Change this value to any weight from 100 to 900 */
  font-style: normal;
  font-variation-settings: "wdth" 100; /* Adjust or remove if not applicable */
}

/* Styling for Noto Serif font */
.noto-serif-classic {
  font-family: "Noto Serif", "Times New Roman";
  font-weight: 400; /* Change this value to any weight from 100 to 900 */
  font-style: normal;
  font-variation-settings: "wdth" 100; /* Adjust or remove if not applicable */
}

/* Apply the fonts with fallbacks */
body {
  font-family: "Inter", Arial, sans-serif;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Noto Serif", "Times New Roman", serif;
}
